#header{
	background-color:#1C1C1C;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	font-size:17px;
	z-index: 1;
	height: 32px;
	line-height: 32px;
}
#header a{
	text-decoration: none;
	color: #FFFFFF;
}
body{
	background-color: #E9EAED;
	width: 100%;
	margin: 0;
	font-size: 15.5px;
}